.shop-container {
    display: flex;
}

.course-container {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-left: 40px;
    margin-right: 5px;
    border-right: 2px solid gray;
}

.cart-container {
    background-color: lightgoldenrodyellow;
}